<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gestión de Ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-card *ngIf="latitude() !== null">
    <ion-card-header>
      <ion-card-title>Posición Actual</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lat: {{ latitude() }}</p>
      <p>Lng: {{ longitude() }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="tertiary" (click)="soloRegistrarEnFirebase()">
    <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
    Guardar en Base de Datos
  </ion-button>

  <ion-button expand="block" color="success" (click)="soloAbrirEnMaps()" class="ion-margin-top">
    <ion-icon name="map-outline" slot="start"></ion-icon>
    Ver en Google Maps
  </ion-button>

  <ion-note *ngIf="errorMsg()" color="danger" class="ion-margin-top ion-text-center">
    {{ errorMsg() }}
  </ion-note>

</ion-content>